select {
    padding: 5px 12px;
    background-color: #e6e6e6;
    border-radius: 5px;
    border-color: #adadad;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px #adadad;
}
