textarea.notes {
    height: 300px;
}

.data-grid-action {
    margin: 0 auto;
    cursor: pointer;
}

@media (max-height: 900px) {
    textarea.notes {
        height: 200px;
    }
}

@media (max-height: 700px) {
    textarea.notes {
        height: initial;
    }
}