.subtitle {
  font-style: italic;
  font-size: x-large;
  color: coral;
}

.featuredAddress {
  border-radius: 2px;
  background-color: rgb(255, 190, 166);
}

.sidebar {
  width: 240px !important;
  min-height: 100vh;
}

.divider {
  flex-shrink: 0;
  width: 1.5rem !important;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (max-width: 1024px) {
    .sidebar {
      width: 4.5rem !important;
    }

    .divider {
      flex-shrink: 0;
      padding: 3px 3px !important;
      width: 1rem !important;
      min-height: 100vh;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .4em 0.6em rgba(0, 0, 0, .1), inset 0 .125em .4em rgba(0, 0, 0, .15);
    }
}

@media (max-width: 433px) {
  .sidebar {
    display: none;
  }

  .divider {
    display: none; 
  }
}
