.icon-sidebar {
    height: 30px;
    margin-right: 5px;
}

.no-border {
    border: 0;
}

.clickable {
    cursor: pointer;
}

.nav-icon {
    vertical-align: -0.165em;
    pointer-events: none;
    margin-right: 0.5rem !important;
    height: 16px;
    width: 16px;
}
.dropdown-icon {
    vertical-align: -0.165em;
    pointer-events: none;
    margin-right: 0.5rem !important;
    height: 16px;
    width: 16px;
}

.nav-seperator {
    margin: 0px;
    display: none;
}

@media (max-width: 1024px) {
    #sidebar {
        padding: 0 !important;
        margin: 0 !important;
    }
    #nav-header span {
        display: none;
    }
    #nav-header img {
        margin-top: 14px;
        margin-left: 15px;
        height: 32px;
        width: 40px;
    }
    #nav-header hr {
        margin-bottom: 0;
    }
    .nav-text {
        display: none;
    }
    .nav-icon {
        vertical-align: -0.06rem;
        height: 32px;
        width: 100%;
    }
    #user-dropdown {
        margin-bottom: 15px;
        margin-left: 5px;
    }
    .nav-seperator {
        display: unset;
    }
}