body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-height {
  height: 100vh;
}

.detail-page-grid {
  height: 255px;
}

.overview-page-grid {
  height: calc(100% - 140px);
}

.excel-icon > svg {
  margin-left: -1px; 
  margin-top: -5px;
}

button > svg {
  margin-top: -4px;
  margin-left: 1px;
}

.data-grid > .MuiDataGrid-root {
  border: 0;
  color: rgba(0,0,0,.85);
  letter-spacing: normal;
}

.data-grid > .MuiDataGrid-root .MuiDataGrid-columnsContainer {
  background-color: #fafafa;
}

.data-grid > .MuiDataGrid-root .MuiDataGrid-iconSeparator {
  display: none;
}

.data-grid > .MuiDataGrid-root .MuiDataGrid-columnHeaders {
  border-bottom: 1px solid #c0c0c0;
  background-color: #efefff;
}

.data-grid > .MuiDataGrid-root .MuiDataGrid-footerContainer {
  border-top: 1px solid #c0c0c0;
}
.data-grid > .MuiDataGrid-root .MuiDataGrid-columnsContainer, .data-grid > .MuiDataGrid-root .MuiDataGrid-cell {
  border-bottom: 1px solid #f0f0f0;
}

.data-grid > .MuiDataGrid-root .MuiDataGrid-cell {
  color: rgba(0,0,0,.85);
  border-right: 1px solid #f0f0f0;
}

.data-grid > .MuiPaginationItem-root {
  border-radius: 0;
}

.data-grid >  .MuiDataGrid-root .MuiTablePagination-root .MuiTablePagination-displayedRows {
  padding-top: 14px;
}

.form-check > .form-check-input.ce-checkbox {
  margin-left: -0.7rem;
  margin-right: 0.7rem;
  margin-top: inherit;
}

.form-check-input.ce-checkbox {
  margin-top: 0.7rem;
}

.MuiInputBase-root.MuiOutlinedInput-root {
  font-family: inherit;
  border-radius: .25rem;
}
.MuiOutlinedInput-notchedOutline > legend {
  display: none;
}
.MuiInputBase-root.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  top: 0;
  border-color: #ced4da;
}
.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-width: 1px;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.MuiInputBase-root.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #ced4da;
}
.MuiInputBase-input.MuiSelect-select.MuiSelect-outlined {
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 9px;
}
.MuiAutocomplete-listbox {
  font: inherit;
  font-style:normal;
}

.invalid-feedback {
  display: initial!important;
}

.hide {
  display: none!important;
}
